</div> <!-- end .container -->
<footer class="text-center py-3 text-white" style="background-color: #5d3a00;">
  <p>&copy; <%= new Date().getFullYear() %> Cafe Brew. All rights reserved Shawn.</p>
</footer>
</body>
</html>
